{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Rooms</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'new_room' %}" class="btn btn-primary">New Room</a>
    </div>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th class="text-left">Room</th>
            <th class="text-left">Owner</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="visible-room-table">
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script>
        var url_to_show_room = "{% url 'show_room' 0%}";
        var url_to_respond = "{% url 'respond' %}";
        var url_to_get_invitations = "{% url 'get_invitations' %}";
        var url_to_get_rooms = "{% url 'get_rooms' %}";
        var url_to_delete_room = "{% url 'delete_room'%}";
        var csrf_token = "{{ csrf_token }}"
    </script>
    <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
{% endblock %}