{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Rooms</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'new_room' %}" class="btn btn-primary">New Room</a>
    </div>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Room</th>
            <th>Friends</th>
            <th>Comments</th>
            <th>Last Post</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>
                    <a href="{% url 'show_room' room.pk %}">{{ room.name }}</a>
                    <a href="{{ room.video_url }}">
                        <small class="text-muted d-block">{{ room.video_url }}</small>
                    </a>
                </td>
                <td class="align-middle">0</td>
                <td class="align-middle">0</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Invitations</th>
            <th>Owner</th>
            <th>Response</th>
        </tr>
        </thead>
        <tbody id="invitation-table">
{#        {% for room in invitations %}#}
{#            <tr>#}
{#                <td>#}
{#                    <a href="{% url 'show_room' room.pk %}">{{ room.name }}</a>#}
{#                    <a href="{{ room.video_url }}">#}
{#                        <small class="text-muted d-block">{{ room.video_url }}</small>#}
{#                    </a>#}
{#                </td>#}
{#                <td class="align-middle">{{ room.owner }}</td>#}
{#                <td class="align-middle">#}
{#                    <input type="submit" class="btn btn-primary invitation-response" value="Accept" name="{{ room.pk }}">#}
{#                    <input type="submit" class="btn btn-danger invitation-response" value="Decline" name="{{ room.pk }}">#}
{#                    {% csrf_token %}#}
{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script>
        var url_to_respond = "{% url 'respond' %}";
        var url_to_get_invitations = "{% url 'get_invitations' %}";
        var csrf_token = "{{ csrf_token }}"
    </script>
    <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
{% endblock %}