{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center logo my-4">
            <a href="{% url 'home' %}">VidU</a>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card">
                    <h3 class="card-header">Log in</h3>
                    <div class="card-body">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-primary btn-block">Log in</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <p>
                            New to VidU? <a href="{% url 'signup' %}">Sign up</a>
                        </p>
                        <p>
                            <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
                        </p>
                        <p>
                            <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
                        </p>
                        <p>
                            <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
                        </p>
                    </div>
                </div>
                <div class="text-center py-2">
                    <small>
                        <a href="#" class="text-muted">Forgot your password?</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
