{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
    {{ room.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Rooms</a></li>
    <li class="breadcrumb-item active">{{ room.name }}</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 video-url mb-3 mt-1">
                <form method="post" id="update_room" novalidate>
                    {% csrf_token %}
                    <div class="form-row align-items-center">
                        {% for field in url_form %}
                            <div class="form-group col-md-5 my-1">
                                <div class="col pl-0">
                                    {% if form.is_bound %}
                                        {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class="form-control" %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-auto my-1">
                            <input type="submit" class="btn btn-primary" value="Update">
                        </div>
                    </div>
                </form>
            </div>
            <div class="video-content col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <div id="player"></div>
                </div>
                <div id="vidtop-content">
                    <div class="vid-info">
                        <h1>看到吗</h1>
                        <p id="text-box">你是不是很喜欢这个视频</p>
                    </div>
                </div>
            </div>
            <div class="col-12 video-url mt-1">
                <form method="post" id="post_comment">
                    {% csrf_token %}
                    <div class="form-row align-items-center">
                        {% for field in comment_form %}
                            <div class="form-group col-10 my-1">
                                <div class="col pl-0">
                                    {% if form.is_bound %}
                                        {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class="form-control" %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-auto my-1">
                            <input type="submit" class="btn btn-primary" value="Comment">
                        </div>
                    </div>
                </form>
                <div class="input-group">
                    <input id="playback-time" type="text" class="form-control" placeholder="Jump to">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="jumpTo()">Jump!</button>
                </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var videoURL = "{{ room.video_url }}";
        var roomPK = "{{ room.pk }}";
        var url_to_update_room = "{% url 'update_room' %}";
        var url_to_post_comment = "{% url 'post_comment' %}";
        var url_to_get_comment = "{% url 'get_comment' %}";
    </script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
{% endblock %}